body{
    background-color: rgb(204, 228, 228);
}
p{
    font-size: 20px;
}
nav{
    background:rgba(103, 10, 10, 0.834);
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px ;
    position: fixed;
    top: 0;
    z-index: 1;
    
     }
     
     nav{
      background-size: cover;
     }
  
  
    nav ul{
        float: right;
        margin-right: 20px;
      }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
    nav ul li a{
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius:3px ;
        text-transform: uppercase;
      } 
    
      a{
        text-decoration: none;
      }
      a:hover{
        background-color:rgba(229, 148, 123, 0.768) ;
      }
      
      footer{
        background: rgba(103, 10, 10, 0.834);
      }
      
      .footer1{
        width: 1140px;
        margin: auto;
        display: flex;
        justify-content: center;
      }
      
      .footer{
        width: 33.3%;
      }
      .footer-content{
        width: 190px;
        margin: auto;
        padding: 7px;
        color: #fff;
      }
      .footer-content{
        text-align: center;
      }
      .contentlinks a{
        color: #fff;
      }
      
      .we a{
        color: #fff;
      }
      
      
      .icons {
        text-decoration: none;
        color: #fff;
        font-size: 23px;
        padding-left: 20px;
        padding-top: 2px;
        text-align: center;
        letter-spacing: 10px;

    }

    .icons :hover{
     color:black;
    }

    .name{
      border: 4px solid rgb(4, 49, 129);
      width: 350px;
      height: 30px;
      padding-top:15px ;
      border-radius: 5px;
    }

    
        .video{
        border-radius: 20px;
        width:400px;
        height:280px;
      }


.description-container{
   /* max-width: 800px;*/
    margin: 40px auto 20px;

}
.description-container p{
    text-align: justify;
}


.description-container .floating-image{
    max-width: 400px;
    
}

.description-container .floating-image.right{
    float:right ;
    margin-bottom: 10px;
}

.description-container .floating-image.left{
    float:left ;
    margin-bottom: 10px;
}
h3{
    font-size: 50px;
}

.animated-heading {
    animation: colorChange 2s infinite alternate; 
  }
  
  
  .animated {
    position: relative; 
    animation: slideInFromLeft 1s ease-in-out forwards;
}

  
  @keyframes slideInFromLeft {
    0% {
      opacity: 0; 
      transform: translateX(-100%);
    }
    100% {
      opacity: 1; 
      transform: translateX(0); 
    }
  }
   
  
  @keyframes colorChange {
    0% {
      color: purple; 
    }
    50% {
      color: darkmagenta;  }
    100% {
      color: magenta; 
    }
  }

  
  
  