nav{
  background:rgba(103, 10, 10, 0.834);
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px ;
  position: fixed;
  top: 0;
  z-index: 1;
  
   }
   
   nav{
    background-size: cover;
   }


  nav ul{
      float: right;
      margin-right: 20px;
    }
  nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }
  nav ul li a{
      color: white;
      font-size: 17px;
      padding: 7px 13px;
      border-radius:3px ;
      text-transform: uppercase;
    } 
  
    a{
      text-decoration: none;
    }
    a:hover{
      background-color:rgba(229, 148, 123, 0.768) ;
    }

    footer{
      background: rgba(103, 10, 10, 0.834);
    }
    
    .footer1{
      width: 1140px;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    
    .footer{
      width: 33.3%;
    }
    .footer-content{
      width: 190px;
      margin: auto;
      padding: 7px;
      color: #fff;
    }
    .footer-content{
      text-align: center;
    }
    .contentlinks a{
      color: #fff;
    }
    
    .we a{
      color: #fff;
    }
    
    
    
    
    
    
    
    



  
    .icons {
      text-decoration: none;
      color: #fff;
      font-size: 23px;
      padding-left: 20px;
      padding-top: 2px;
      text-align: center;
      letter-spacing: 10px;

  }

  .icons :hover{
   color:black;
  }

    
    body{
      background: linear-gradient(to top,rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%),url(photo/homepagegif.gif);
      background-position: center;
      background-size: cover;

    }
    
    form{
      margin-top: 150px;
      margin-bottom: 280px;
      background-color: antiquewhite;
      width: 500px;
      height: 550px;
      border-radius: 8px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1)
    }

    label{
      margin-top: 20px;
    }

    button{
      margin-bottom: 30px;
      padding: 10px;
      padding-right: 15px;
      padding-left: 15px;
      color: white;
      border-radius: 8px;
      background-color:rgba(103, 10, 10, 0.834) ;
    }


    button:hover{
      background-color:rgba(229, 148, 123, 0.768) ;
      color: black;
    }

    .error {
      color: red;
      margin-top: 5px;
    }
    
    #preview {
      background-color: bisque;
      width: 500px;
      border-radius: 10px;
      padding: 10px;
    }

    
    input[type="text"],
    input[type="email"],
    select,
    input[type="radio"] {
      margin-right: 5px;
    }
    textarea {
      resize: vertical;
    }
    


